{{!-- index 是整個列表頁面/首頁 --}}

{{!-- ⬇️：進入 Create 頁面的連結 --}}
<a href="./todos/new">Create</a>

<ul>
  {{#each todos}}
  <li>
    {{this.name}}
    {{!-- 單筆資料的詳細頁面 --}}
    <a href="./todos/{{this._id}}">detail</a>
    {{!-- 單筆資料的編輯頁面 --}}
    <a href="./todos/{{this._id}}/edit">edit</a>
    {{!-- 刪除的功能，用 form 的原因是這樣可以設定 /delete 的路由，然後用 post 方法來接住，再去真的執行刪除的程式碼--}}
    <form action="./todos/{{this._id}}/delete" method="POST" style="display: inline;">
      <button type="submit">delete</button>
    </form>
  </li>
  {{/each}}
</ul>